# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5.740000e+12,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2.340000e+12,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2.010000e+12,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5.150000e+12,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3.910000e+12,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [7]:
#  1. Get the total rides for each city type
# Create the city DataFrames.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [8]:
# Get the number of rides for urban cities.
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: ride_id, dtype: int64

In [9]:
# Get the number of rides for suburban cities.
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: ride_id, dtype: int64

In [10]:
# Get the number of rides for rural cities.
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: ride_id, dtype: int64

In [16]:
# 2. Get the total drivers for each city type
# Get the total number of drivers for each urban city.
urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]
urban_driver_count.head()

city
Amandaburgh         216
Barajasview         572
Carriemouth        1404
Christopherfurt    1107
Deanville           931
Name: driver_count, dtype: int64

In [13]:
# Get the total number of drivers for each suburban city.
suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_driver_count.head()

city
Barronchester    176
Bethanyland      396
Brandonfort      190
Colemanland      506
Davidfurt        391
Name: driver_count, dtype: int64

In [14]:
# Get the total number of drivers for each rural city.
rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_count.head()

city
Bradshawfurt      70
Garzaport         21
Harringtonfort    24
Jessicaport        6
Lake Jamie        24
Name: driver_count, dtype: int64

In [17]:
#  3. Get the total amount of fares for each city type
# Get the total fare for each urban city.
urban_fare_count = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_fare_count.head()

city
Amandaburgh        443.55
Barajasview        557.31
Carriemouth        764.49
Christopherfurt    661.55
Deanville          491.01
Name: fare, dtype: float64

In [18]:
# Get the total fare for each suburban city.
suburban_fare_count = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_fare_count.head()

city
Barronchester    582.76
Bethanyland      593.21
Brandonfort      673.31
Colemanland      679.68
Davidfurt        543.93
Name: fare, dtype: float64

In [19]:
# Get the total fare for each rural city.
rural_fare_count = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_fare_count.head()

city
Bradshawfurt      400.64
Garzaport          72.37
Harringtonfort    200.82
Jessicaport       216.08
Lake Jamie        206.15
Name: fare, dtype: float64

In [27]:
#  4. Get the average fare per ride for each city type. 
# Get the average fare per ride for each urban city.
urban_avg_fare_per_ride = (urban_fare_count / urban_ride_count)
urban_avg_fare_per_ride.head()

city
Amandaburgh        24.641667
Barajasview        25.332273
Carriemouth        28.314444
Christopherfurt    24.501852
Deanville          25.842632
dtype: float64

In [24]:
# Get the average fare per ride for each suburban city.
suburban_avg_fare_per_ride = (suburban_fare_count / suburban_ride_count)
suburban_avg_fare_per_ride.head()

city
Barronchester    36.422500
Bethanyland      32.956111
Brandonfort      35.437368
Colemanland      30.894545
Davidfurt        31.995882
dtype: float64

In [26]:
# Get the average fare per ride for each rural city.
rural_avg_fare_per_ride = (rural_fare_count / rural_ride_count)
rural_avg_fare_per_ride.head()

city
Bradshawfurt      40.064000
Garzaport         24.123333
Harringtonfort    33.470000
Jessicaport       36.013333
Lake Jamie        34.358333
dtype: float64

In [28]:
# 5. Get the average fare per driver for each city type. 
# Get the average fare per driver for each urban city.
urban_avg_fare_per_driver = (urban_fare_count / urban_driver_count)
urban_avg_fare_per_driver.head()

city
Amandaburgh        2.053472
Barajasview        0.974318
Carriemouth        0.544509
Christopherfurt    0.597606
Deanville          0.527401
dtype: float64

In [29]:
# Get the average fare per driver for each suburban city.
suburban_avg_fare_per_driver = (suburban_fare_count / suburban_driver_count)
suburban_avg_fare_per_driver.head()

city
Barronchester    3.311136
Bethanyland      1.498005
Brandonfort      3.543737
Colemanland      1.343241
Davidfurt        1.391125
dtype: float64

In [30]:
# Get the average fare per driver for each rural city.
rural_avg_fare_per_driver = (rural_fare_count / rural_driver_count)
rural_avg_fare_per_driver.head()

city
Bradshawfurt       5.723429
Garzaport          3.446190
Harringtonfort     8.367500
Jessicaport       36.013333
Lake Jamie         8.589583
dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame.

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')